.chores {
    color: #ff4f33;
}

.treat {
    color: #419f6a;
}

.doneChores {
    color: #3c79b8;
}

h3 {
    text-align: center;
}

img {
    max-width: 15%;
    height: auto;
    display: block;
    margin: auto;
}

<<<<<<< HEAD
.harder {
    color: black;
=======
p {
>>>>>>> 9fd9381bf8a2523e0db6d36f797a4b9ccc94cf53
    text-align: center;
}